<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-start">
    <button id="toggle-sidebar-btn" class="btn btn-action" aria-label="Toggle Side Bar">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <a class="navbar-app-name ml-3" href="/"> DevKnowledge Store </a>
  </div>

  <div class="navbar-end hide-on-small-and-down">
    <button class="btn mr-3" id="signup-button">Sign Up</button>
    <button class="btn btn--primary">Login</button>
  </div>
</nav>
