.btn {
  background-color: var(--btn-default-bg);
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-weight: bold;
  color: var(--btn-default-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
  &:hover {
    filter: brightness(92.5%);
  }
  &.btn--primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--btn-primary-color);
    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.05);
  }
  &.btn--secondary {
    color: var(--color-primary);
    border-width: 1px;
    border-color: var(--color-primary);
  }
  &:active,
  &:focus {
    outline: none;
  }
}
