.add-item-wrapper {
  @include for-phone-only() {
    bottom: 8%;
    right: 8%;
    position: fixed;
    margin: 0;
  }
  margin-left: 1rem;
  .add-button {
    @include for-phone-only() {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
    }
    span {
      @include for-phone-only() {
        display: none;
      }
    }
  }
  .add-item {
    background-color: var(--color-primary);
  }
}
.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  @include for-phone-only() {
    flex-direction: column;
  }
}
.items-searcher-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .item-searcher {
    flex-basis: 500px;
    @include for-phone-only() {
      flex: 1;
    }
    .fa-search {
      right: 1rem;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.5);
      top: calc(50% - 0.5rem);
    }
  }
}
