.add-item-wrapper {
  bottom: 8%;
  right: 8%;
  .add-item {
    background-color: var(--color-primary);
  }
}
.links-wrapper {
  display: flex;
  @include for-phone-only() {
    flex-direction: column;
  }
  .link-item {
    width: 250px;
    height: 250px;
    justify-content: center;
    background: #5bc586;
    align-items: center;
    @include for-phone-only() {
      width: auto;
    }
  }
}
