html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 100%;
  letter-spacing: 1px;
}
* {
  margin: 0;
  box-sizing: border-box;
}

button,
input {
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  justify-content: flex-start;
  line-height: 1;
  position: relative;
  vertical-align: top;
  padding: 0.5rem 1rem;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
