:root {
  /* Colors */
  --color-primary-rgb: 249, 84, 116;
  --color-complimentry-rgb: 12, 95, 238;

  --color-primary: rgba(var(--color-primary-rgb));
  --color-complimentry: rgba(var(--color-complimentry-rgb));
  --text-default-rbg: 0, 0, 0;
  --bg-default-rbg: 255, 249, 221;
  --text-default: rgba(var(--text-default-rbg));
  --bg-default: rgba(var(--bg-default-rbg));
  --text-secondary-rgb: 125, 124, 131;
  --text-secondary: rgba(var(--text-secondary-rgb));
  --bg-secondary: rgba(var(--text-secondary-rgb));

  /* Components */
  --homepage-text-color: #f5f5f5;
  --navbar-shadow-color: #f5f5f5;

  --btn-default-bg: #f5f5f5;
  --btn-primary-color: #f5f5f5;
  --btn-default-color: #000000;

  --label-default-color: #f5f5f5;
}
