:root {
  /* Colors */
  --color-complimentry-rgb: 231, 111, 81;
  --color-primary-rgb: 38, 217, 195;

  --color-primary: rgba(var(--color-primary-rgb));
  --color-complimentry: rgba(var(--color-complimentry-rgb));
  --text-default-rbg: 0, 0, 0;
  --bg-default-rbg: 255, 249, 221;
  --text-default: rgba(var(--text-default-rbg));
  --bg-default: rgba(var(--bg-default-rbg));
  --text-secondary-rgb: 125, 124, 131;
  --text-secondary: rgba(var(--text-secondary-rgb));
  --bg-secondary: rgba(var(--text-secondary-rgb));

  /* Components */
  --navbar-color: var(--color-complimentry);
  --navbar-text-color: #fff;
  --navbar-shadow-color: #f5f5f5;

  --btn-default-bg: #f5f5f5;
}
