:root {
  /* Colors */
  --color-primary-rgb: 249, 84, 116;
  --color-complimentry-rgb: 12, 95, 238;

  --color-primary: rgba(var(--color-primary-rgb));
  --color-complimentry: rgba(var(--color-complimentry-rgb));

  /* Components */
  --color-text-default: #f5f5f5;
  --navbar-shadow-color: #f5f5f5;

  --color-bg-btn: #f5f5f5;
  --color-text-btn: #000000;

  --color-label-default: #f5f5f5;
}
