@import './theme.css';
@import './normalize.css';
@import './utilities.css';
@import './components/index.css';

.root-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-default);
}
