@import '_theme';
@import '_normalize';
@import '_utilities';
@import 'components/_index';

.root-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-default);
}
